

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#patientData input[type="text"] {
    pointer-events: none;
    
    background:#F5F5F5;
 }


.warning-true {
	background-color: pink;
}


.dispense-buttons {

	margin-bottom: 20px;
}










